/* Estilos para o modo LIGHT */
.light-mode {
  --background-color: #fdfbf4;
  --background-color2: #fefdfa;
  --text-color: #24204a;
  --symbol-color: #ff4542;
}

/* Estilos para o modo DARK */
.dark-mode {
  --background-color: #24204a;
  --background-color2: #2c275b;
  --text-color: #f4f6f7;
  --symbol-color: #ddfa5b;
}

section {
  align-items: center;
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  margin: 20px;
}

.container__about {
  background-color: var(--background-color2);
  color: var(--text-color);
  display: flex;
  flex-wrap: wrap;
  align-items: center; /* Centraliza verticalmente */
  width: 95%;
  max-width: 800px; /* Largura máxima para evitar que ocupe toda a tela */
  border-radius: 8px;
  overflow: hidden;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  margin-top: 20px; /* Adicione margem acima para espaço */
}

.container_photo {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-basis: auto;
}

.photo {
  background-image: url("../images/octocat.png");
  width: 180px;
  height: 180px;
  position: absolute;
  top: 0; /* Coloca a imagem no topo */
  border-radius: 50%;
}

.text-about {
  padding: 32px;
  display: flex;
  flex-direction: column;
}

.text-about b span {
  color: var(--text-color);
}

.teste {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 32px;
  width: 100%;
  justify-content: space-between;
}

.tools-container {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.tool-badge {
  border-radius: 6px;
}
