/* Estilos para o modo LIGHT */
.light-mode {
  --background-header-color: #f4f6f7;
  --text-header-color: #24204a;
  --accent-header-color: #ff4542;

}

/* Estilos para o modo DARK */
.dark-mode {
  --background-header-color: #24204a;
  --text-header-color: #f4f6f7;
  --accent-header-color: #ddfa5b;
}


.container__header {
  align-items: center;
  background-color: var(--background-header-color);
  color: var(--accent-header-color);
  display: flex;
  font-size: 1.4rem;
  justify-content: space-between;
  padding: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
}

.header__logo-name {
  align-items: center;
  color: var(--text-header-color);
  display: flex;
}

.header__logo-name h2 {
  color: var(--accent-header-color);
}

.header__logo-name p {
  font-size: 1.5rem;
  margin: 5px;
}

.header__navigation-links {
  align-items: center;
  display: flex;
  gap: 20px;
}

.header__navigation-links button {
  background: none;
  border: none;
  color: var(--text-header-color);
  cursor: pointer;
  font-size: 1.4rem;
  font-weight: 900;
  letter-spacing: 0.10em;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
}

/* Estilos para o efeito de linha */
.header__navigation-links button::after {
  background-color: var(--accent-header-color);
  bottom: -4px;
  content: '';
  height: 2px;
  left: 0;
  position: absolute;
  transition: width 0.3s ease;
  width: 0;
}

/* Estilos quando o botão é hover */
.header__navigation-links button:hover::after {
  width: 100%;
}

.header__navigation-links a {
  color: var(--text-header-color);
  letter-spacing: 0.10em;
  font-weight: 700;
  margin-right: 10px;
  position: relative;
  text-decoration: none;
}

.header__navigation-links a::after {
  background-color: var(--accent-header-color);
  /* Cor da linha */
  bottom: -4px;
  content: '';
  height: 2px;
  /* Espessura da linha */
  left: 0;
  position: absolute;
  transition: width 0.3s ease;
  /* Duração da animação */
  width: 0;

}

.header__navigation-links a:hover::after {
  width: 100%;
}

.header__toggle-theme .icon {
  color: var(--text-header-color);
}

.icon {
  font-size: 1.4rem;
  cursor: pointer;
}

/* Estilos para dispositivos móveis */
@media (max-width: 768px) {

  .header__navigation-links {
    background-color: var(--background-header-color);
    display: none;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    left: 0;
    padding: 10px;
    position: absolute;
    top: 100%;
    width: 100%;
  }

  .header__navigation-links.open {
    display: flex;
  }
}

/* Estilos para telas maiores que 768px */
@media (min-width: 769px) {

  .header__navigation-links {
    display: flex !important;
  }

  .header__hamburger-menu {
    display: none;
  }
}

.blinking {
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}