/* Estilos para o modo LIGHT */
.light-mode {
--background-card:#24204a;
--color-text-card:#fdfbf4;
--color-links-card:#ddfa5b;

}

/* Estilos para o modo DARK */
.dark-mode {
--background-card:#131225;
--color-text-card:#fdfbf4;
--color-links-card:#ddfa5b;
}


.project-card {
    background-color: var(--background-card);
    border-radius: 8px;
    box-shadow: 0 1px 3px rgb(145 103 172 / 12%), 0 1px 2px rgb(145 103 172 / 24%);
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    overflow: hidden;
    flex: 0 0 328px;
    max-width: calc(50% - 16px);
    display: flex;
    flex-direction: column;
  }
  
  .project-card:hover {
    box-shadow: 0 14px 28px rgb(54 0 91 / 25%), 0 10px 10px rgb(68 0 107 / 22%);
  }
  
  
  .project-img-container {
    position: relative;
    height: 240px;
  }
  
  .project-preview {
    object-fit: cover;
    object-position: center;
    width: 100%;
    height: 100%;
  }
  
  .project-header {
    color:var(--color-text-card);
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 8px;
  }


  .project-header a::after {
    background-color: var(--color-links-card); /* Cor da linha */
    bottom: -4px;
    content: '';
    height: 2px; /* Espessura da linha */
    left: 0;
    position: absolute;
    transition: width 0.3s ease; /* Duração da animação */
    width: 0;
  
  }
  
  .project-header a:hover::after {
    width: 20%;
  }
  

  .project-icons {
    color: var(--color-links-card);
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    right: 0;
  }

  .project-icons a::after {
   text-decoration: none;
  }

  .project-icons a::after:hover {
    text-decoration: none;
   }
  
  
  .project-info {
    padding: 16px 32px 32px;
  }
  
  .project-info p {
    color: var(--color-text-card);
    line-height: 1.6rem;
  }
  
  .project-tools-container {
    background-color:var(--background-card);
    position: absolute;
    display: flex;
    padding: 8px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .project-tool-badge {
    border-radius: 6px;
  }
  
  .project-badges {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 8px;
  }
  
  @media screen and (max-width: 1144px) {
    .project-card {
      flex: 1 0 328px;
    }
  }
  
  @media screen and (max-width: 768px) {
    .project-card {
      max-width: unset;
    }
  
    .project-img-container {
      min-height: 300px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .project-card {
      flex: 1 0 260px;
    }
  
    .project-info {
      padding: 16px 24px 24px;
    }
  }
  
  
  
  
  
  