
/* Estilos gerais */
* { 
  border: 0;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  padding: 0;
}


/* Estilos para o modo LIGHT */
.light-mode {
--background-color: #fdfbf4;
--text-color: #24204a;
--symbol-color: #ff4542;

}

/* Estilos para o modo DARK */
.dark-mode {
--background-color: #24204a;
--text-color: #f4f6f7;
--symbol-color: #ddfa5b;
}




body {
  background-color: var(--background-color);
  margin: 0;
  font:'Open Sans', arial, sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

a {
  color: inherit; /* Herda a cor do elemento pai (normalmente preto) */
  text-decoration: none; /* Remove o sublinhado dos links */
}

/* Estilizar links quando o mouse passa por cima (opcional) */
a:hover {
  color: var(--symbol-color); /* Defina a cor que você deseja quando o mouse passa por cima */
  text-decoration: underline; /* Adicione um sublinhado quando o mouse passa por cima (opcional) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
